.app {
  max-width: 1060px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
}

.title {
  text-align: center;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
}